:deep(.flip-card) {
  @apply flex-1 transition-transform duration-200 ease-out hover:-translate-y-1;
}

:deep(.flip-card-inner) {
  @apply shadow transition-shadow duration-200 ease-out group-hover:shadow-lg;
}

:deep(.flip-card-front) {
  @apply h-full;
}

:deep(.flip-card-back) {
  @apply grid place-content-center p-[var(--padding-card,_2rem)] bg-base-200 shadow-inner;
}
